@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #FFFFFF;
    color: #333333;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    float:right;
}

nav li {
    display: inline-block;
    padding: 0px 30px;
}

nav li a {
    font-size: 30px;
    transition: all 0.3s ease 0s;
}
nav li a:hover {
    color:black;
    transition: all 0.3s ease 0s;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#747373;
    text-decoration: none;
}

/*header animacio*/
header {
    animation: nav-load 400ms ease-in;
}

@keyframes nav-load {
    0% {
        transform:translateY(-100%)
    }
    100% {
        transform:translateY(0%)
    }
}

.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-style: solid;
    border-color:#919467;
    border-width: 4px;
}

header .logo {
    margin-right: auto;
}

nav {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

header {
    display: flex;
    padding: 8px 5%;
}

.welcome {
    width:50% ;
    text-align: center;
    margin:auto;
    margin-bottom:30px;
}




h1 {
    font-size: 2.5em;
    font-weight: normal;
    color: #222222;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slides {
    align-items: center;
}

.slide img{
    width: 50%;
    height: 50%;
}

.slide.show {
    display:block;
    width: 100%;
    height: 750px;
    position: relative;
    object-fit: cover;
    padding-bottom:10px;
    animation: slide-animation 1200ms ease-in;
}

@keyframes slide-animation {
    from {
        opacity: 70%;
    }

    to {
        opacity: 100%;
    }
}
 
.slide.hide {
    display: none;
}


.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.material-symbols-outlined {
    color: #222222;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined:hover {
    color: white;
    background-color: #222222;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
  
hr {
    
    margin:auto;
    width: 25%;
    border: 1.5px solid #919467;
    border-radius: 10px;
    margin-bottom:2%;
}

.slides img {
    object-fit: contain;
}

#services {
    background-image: url(images/sodomb.jpg);
    margin-top:5%;
    height: 200px;
    display: block;
    position: relative;
    object-fit: cover;
    background: #222222;
    z-index: 0;
    margin-bottom:5%;
}

.box {
    padding: 10px;
    color: white;
    position: absolute;
    height: 300px;
    width: 350px;
    background-color: #18644b;
    z-index: 10;
    margin-left: 65%;

}

.box h3 {
    background-color: #18644b;
    margin-bottom:5px;
    font-weight: lighter;
    font-size: larger;
}

.box ul li{ 
    font-size:small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #18644b;
    color:#ffffff;
    list-style:none;
    text-align:start;
    padding-left:8px;
    padding-bottom:5px;
    font-weight:lighter;
}

#latnivalok {
    text-align: start;
    margin-left:100px;
    margin-right: 100px;
}

#latnivalok hr {
    margin-left:1px;
    width: 100px;
    margin-bottom:5px;
}


/*tovabbi kepek gomb*/

.tovabbi {
    margin-top:10px;
    background-color: #919467 ;
    padding: 10px 10px 10px 10px;
    border: none;
    color: white;
    margin-bottom:20px
}

.tovabbi.hide {
    display: none;
}

.tovabbi:hover {
    cursor: pointer;
    background-color: #18644b;
}

/*kevesebb kepek gomb*/

.kevesebb {
    display: none;
}

.kevesebb.show {
    display: block;
    margin-top:10px;
    background-color: #919467 ;
    padding: 10px 10px 10px 10px;
    border: none;
    color: white;
    margin-bottom:20px;
    margin:auto;
}

.kevesebb.show:hover {
    cursor: pointer;
    background-color: #18644b;
}
.latnivalo_kepek {
    width: 1600px;
    margin:auto;
    text-align: center;
    animation: latnivalo 700ms ease-in-out;
}



@keyframes latnivalo {
    0% {
        opacity: 50%;
    }
    50% {
        opacity: 80%;
    }
    100% {
        opacity: 100%;
    }
}

.latnivalo_kepek img {
    width: 420px;
    height: 330px;
    display:inline-block;
    justify-content: space-around;
    padding: 2rem;
    animation: slide-in 800ms;

}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

.latnivalo_kepek img:hover {
    transition:all 0.5s ease 0s;

    transform: scale(1.2);
}

.latnivalo.show {
    display: inline-block;
}

.latnivalo.always {
    display: inline-block;
}

.latnivalo {
    display:none;
}

#contact {
    margin-top: 30px;;
    background-color: #222222;
    height: 250px;
}


/* telefon méret */


@media screen and (max-width:800px) {
    .box{
        padding: 10px;
        color: white;
        position: absolute;
        height: 250px;
        width: 300px;
        background-color: #18644b;
        z-index: 10;
        margin-left: 65%;
    }

    nav ul li{
        display:none;
    }

    #services  {
        margin-top:50px;
        width: 800px;
        background-image: url(images/sodomb.jpg);
    }

    .latnivalo_kepek {
        width: 800px;
    }

    .latnivalo_kepek img{
        width: 360px;
        height: 240px;
        display:block;
        padding: 25px;
        animation: slide-in 800ms;
    }

    .latnivalok {
        margin-top:150px;
    }

    .latnivalo {
        display: none;
    }
    .latnivalo.always {
        display: block;
        margin-top:10px;
        padding: 10px 10px 10px 10px;
        border: none;
        margin-bottom:20px;
        margin:auto;
    }
    .latnivalo.show {
        display: block;
        margin-top:10px;
        padding: 10px 10px 10px 10px;
        border: none;
        margin-bottom:20px;
        margin:auto;
    }

    h1 {
        font-size: small;
    }
}

@media screen and (max-width: 900px) {
    nav ul li{
        display:none;
    }

    #services  {
        margin-top:50px;
        width: 900px;
        background-image: url(images/sodomb.jpg);
    }

    .latnivalo_kepek {
        width: 900px;
    }

    .latnivalo_kepek img{
        width: 360px;
        height: 240px;
        display:block;
        padding: 25px;
        animation: slide-in 800ms;
    }

    .latnivalok {
        margin-top:150px;
    }

    .latnivalo {
        display: none;
    }
    .latnivalo.always {
        display: block;
        margin-top:10px;
        padding: 10px 10px 10px 10px;
        border: none;
        margin-bottom:20px;
        margin:auto;
    }
    .latnivalo.show {
        display: block;
        margin-top:10px;
        padding: 10px 10px 10px 10px;
        border: none;
        margin-bottom:20px;
        margin:auto;
    }

    h1 {
        font-size: small;
    }
}